* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    overflow-y: hidden;
}

#hitPointsWrapper {
    margin: auto auto;
    text-align: center;
}

#hitPoints {
    padding-top: 40px;
    height: 100px;
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

#hitPointsWrapper {
    margin: auto auto;
    text-align: center;
}

#hitPoints {
    padding-top: 40px;
    height: 100px;
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}



#gameBoardWrapper {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    height: 90vh;
}

#gameBoard {
    position: relative;
    margin: auto;
    height: 600px;
    width: 600px;
    background-color: yellow;
    overflow: hidden;
}

.textHeader {
    margin: auto;
    text-align: center;
    background-color: yellow;
}

#player {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: black;
    top: 250px;
    left: 250px;
}

.enemy {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: red;
    margin: 5px;
    overflow-y: paged-y-controls;
}

/* #enemy2 {
    transform: scale(2);
} */
